{
    "endpoint": "/api/auth/me",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": {{ template "headers-standard.tmpl" . }},
    "extra_config": {
      "auth/validator": {{ template "jwt-validator.tmpl" . }}
    },
    "backend": [
      {
        "url_pattern": "/auth/me",
        "host": ["http://auth:8000"]
      }
    ]
  },
  {
    "endpoint": "/api/auth/me",
    "method": "DELETE",
    "output_encoding": "no-op",
    "input_headers": {{ template "headers-standard.tmpl" . }},
    "extra_config": {
      "auth/validator": {{ template "jwt-validator.tmpl" . }}
    },
    "backend": [
      {
        "url_pattern": "/auth/me",
        "host": ["http://auth:8000"]
      }
    ]
  },
  {
    "endpoint": "/api/auth/role-request",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": {{ template "headers-post.tmpl" . }},
    "extra_config": {
      "auth/validator": {{ template "jwt-validator.tmpl" . }}
    },
    "backend": [
      {
        "url_pattern": "/auth/role-request",
        "host": ["http://auth:8000"]
      }
    ]
  },
  {
    "endpoint": "/api/auth/role-requests/",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": {{ template "headers-standard.tmpl" . }},
    "extra_config": {
      "auth/validator": {{ template "jwt-validator.tmpl" . }}
    },
    "backend": [
      {
        "url_pattern": "/auth/role-requests/",
        "host": ["http://auth:8000"]
      }
    ]
  },
  {
    "endpoint": "/api/auth/role-requests/{request_id}/approve",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": {{ template "headers-standard.tmpl" . }},
    "extra_config": {
      "auth/validator": {{ template "jwt-validator.tmpl" . }}
    },
    "backend": [
      {
        "url_pattern": "/auth/role-requests/{request_id}/approve",
        "host": ["http://auth:8000"]
      }
    ]
  },
  {
    "endpoint": "/api/auth/role-requests/{request_id}/reject",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": {{ template "headers-standard.tmpl" . }},
    "extra_config": {
      "auth/validator": {{ template "jwt-validator.tmpl" . }}
    },
    "backend": [
      {
        "url_pattern": "/auth/role-requests/{request_id}/reject",
        "host": ["http://auth:8000"]
      }
    ]
  },
  {
    "endpoint": "/api/auth/password-change",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": {{ template "headers-post.tmpl" . }},
    "extra_config": {
      "auth/validator": {{ template "jwt-validator.tmpl" . }}
    },
    "backend": [
      {
        "url_pattern": "/auth/password-change",
        "host": ["http://auth:8000"]
      }
    ]
  }