{
  "endpoint": "/api/profile/me",
  "method": "GET",
  "output_encoding": "no-op",
  "input_headers": {{ template "headers-standard.tmpl" . }},
  "extra_config": {
    "auth/validator": {{ template "jwt-validator.tmpl" . }}
  },
  "backend": [
    {
      "url_pattern": "/profile/me",
      "host": ["http://profile:8000"]
    }
  ]
},
{
  "endpoint": "/api/profile/me",
  "method": "PUT",
  "output_encoding": "no-op",
  "input_headers": {{ template "headers-post.tmpl" . }},
  "extra_config": {
    "auth/validator": {{ template "jwt-validator.tmpl" . }}
  },
  "backend": [
    {
      "url_pattern": "/profile/me",
      "host": ["http://profile:8000"]
    }
  ]
},
{
  "endpoint": "/api/profile/me",
  "method": "PATCH",
  "output_encoding": "no-op",
  "input_headers": {{ template "headers-post.tmpl" . }},
  "extra_config": {
    "auth/validator": {{ template "jwt-validator.tmpl" . }}
  },
  "backend": [
    {
      "url_pattern": "/profile/me",
      "host": ["http://profile:8000"]
    }
  ]
},
{
  "endpoint": "/api/profile/me/upload",
  "method": "POST",
  "output_encoding": "no-op",
  "input_headers": {{ template "headers-post.tmpl" . }},
  "extra_config": {
    "auth/validator": {{ template "jwt-validator.tmpl" . }}
  },
  "backend": [
    {
      "url_pattern": "/profile/me/upload",
      "host": ["http://profile:8000"]
    }
  ]
},
{
  "endpoint": "/api/profile/me/ignored",
  "method": "GET",
  "output_encoding": "no-op",
  "input_headers": {{ template "headers-standard.tmpl" . }},
  "input_query_strings": ["*"],
  "extra_config": {
    "auth/validator": {{ template "jwt-validator.tmpl" . }}
  },
  "backend": [
    {
      "url_pattern": "/profile/me/ignored",
      "host": ["http://profile:8000"]
    }
  ]
},
{
  "endpoint": "/api/profile/me/ignored/{target_user_id}",
  "method": "POST",
  "output_encoding": "no-op",
  "input_headers": {{ template "headers-post.tmpl" . }},
  "extra_config": {
    "auth/validator": {{ template "jwt-validator.tmpl" . }}
  },
  "backend": [
    {
      "url_pattern": "/api/profile/me/ignored/{target_user_id}",
      "host": ["http://profile:8000"]
    }
  ]
},
{
  "endpoint": "/api/profile/me/ignored/{target_user_id}",
  "method": "DELETE",
  "output_encoding": "no-op",
  "input_headers": {{ template "headers-standard.tmpl" . }},
  "extra_config": {
    "auth/validator": {{ template "jwt-validator.tmpl" . }}
  },
  "backend": [
    {
      "url_pattern": "/api/profile/me/ignored/{target_user_id}",
      "host": ["http://profile:8000"]
    }
  ]
}