__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.env
.env.*
.DS_Store
*.log
# Ignore compiled Python in migrations
src/infrastructure/db/migrations/versions/__pycache__/
src/infrastructure/db/migrations/__pycache__/
