{
  "endpoint": "/api/auth/register",
  "method": "POST",
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/auth/register",
      "host": [
        "http://auth:8000"
      ]
    }
  ]
},
{
  "endpoint": "/api/auth/login",
  "method": "POST",
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/auth/login",
      "host": [
        "http://auth:8000"
      ]
    }
  ]
},
{
  "endpoint": "/api/auth/logout",
  "method": "POST",
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/auth/logout",
      "host": [
        "http://auth:8000"
      ]
    }
  ]
},
{
  "endpoint": "/api/auth/refresh",
  "method": "POST",
  "output_encoding": "no-op",
  "input_headers": ["Cookie"],
  "backend": [
    {
      "url_pattern": "/api/auth/refresh",
      "host": [
        "http://auth:8000"
      ]
    }
  ]
},
{
  "endpoint": "/api/auth/password-reset-request",
  "method": "POST",
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/auth/password-reset-request",
      "host": [
        "http://auth:8000"
      ]
    }
  ]
},
{
  "endpoint": "/api/auth/password-reset-confirm",
  "method": "POST",
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/auth/password-reset-confirm",
      "host": [
        "http://auth:8000"
      ]
    }
  ]
},
{
  "endpoint": "/api/auth/password-reset-check",
  "method": "GET",
  "output_encoding": "no-op",
  "input_query_strings": ["token"],
  "backend": [
    {
      "url_pattern": "/api/auth/password-reset-check",
      "host": [
        "http://auth:8000"
      ]
    }
  ]
}