{
  "endpoint": "/api/profile/{name}",
  "method": "GET",
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/profile/{name}",
      "host": [
        "http://profile:8000"
      ]
    }
  ]
}